{%extends "../_base.html" %}
{%block content%}
    <div>
        <div>
            {% include "components/navbar.html" %}
        </div>
    <!--<div>
            {% include 'components/headers.html' %}
        </div>
        <div>
            {% include 'components/apropos.html' %}
        </div>       
        <div>
            {% include 'components/actualites.html' %}
        </div>  
        <div class="">
            {% include 'components/detailsProd.html' %}
        </div>
    -->
        <div class="">
            {% include 'components/panier.html' %}
        </div>
    <div class="">
        {% include 'components/footer.html' %}
    </div>
</div>
{%endblock%}