<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-white ">
   
    <div class="grid grid-cols-2 content-center">
                <div class="content-center mt-24 ml-40  h-96 w-96">
                    <img class="rounded-xl" src="../../static/images/6183550_3026238.jpg" alt="">
                </div>
            
                <div class="absolute mt-16   h-96 " style="width: 600px; margin-left: 600px;">
                    <h1 class="text-center font-serif text-2xl font-bold underline">ABOUT</h1>
                    <p class="text-justify px-16 font-serif mt-4">  placeat eligendi sequi asperiores mollitia est? Placeat eligendi tenetur odio magnam eum tempore, repellendus optio, temporibus illum eos aspernatur nulla porro explicabo atque non ipsa tempora! Quae rem perspiciatis suscipit, non recusandae labore amet laboriosam molestias, itaque corrupti officia, excepturi sed consectetur ipsa ullam cum facere odio adipisci vel totam provident doloribus facilis! Ab reprehenderit, sunt nemo, magnam culpa dignissimos incidunt ea et maxime fuga velit architecto suscipit nostrum repudiandae iusto voluptates commodi laboriosam assumenda repellendus inventore. Suscipit dolorem officia perspiciatis odio voluptatum nisi deleniti culpa distinctio maxime eum, eaque dolores sed aliquam iure quam voluptatibus totam tenetur magni delectus? Doloremque, accusamus accusantium illo tenetur ex, harum nobis expedita consequuntur obcaecati excepturi aut et.</p>
        
                </div>
            
        
    </div>
</body>
</html>