<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>livraison</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="" method="post" class="content-center mt-14 ml-10 bg-white h-96 w-96">
        <div class="">
            <h2 class="py-3 mt-2 font-serif text-2xl font-bold text-center text-gray-600">INFO LIVRAISON</h2>
            <input class="h-12 mt-4 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder=" Nom" type="text"><br>
            <input class="h-12 mt-2 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder="  Prénom" type="text"><br>
            <input class="h-12 mt-2 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder="  E-mail" type="email"><br>
            <input class="h-12 mt-2 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder="  Mot de passe" type="password"><br>
            <button class="pt-2 pb-2 mt-4 ml-24 bg-green-600 rounded-md pl-14 pr-14 text-teal-50" type="submit">S'INSCRIRE</button>
            
        </div>
    </form>

    
</body>
</html>